.moments-collection {
    padding: 60px 0;
    background-color: #FDFBEA;
    text-align: center;
    margin: 0 30px;

    &__title {
        font-family: 'Gilroy', sans-serif;
        font-size: 24px;
        color: #56593D;
        margin-bottom: 40px;
    }

    &__grid {
        display: flex;
        justify-content: space-around;
        gap: 20px;
    }
}

.moment-card {
    background-color: #FDFBEA;
    text-align: center;

    &__image {
        width: 100%;
        height: auto;
        max-width: 300px;
        margin-bottom: 15px;
    }
}

@media (max-width: 768px) {
    .moments-collection__grid{
        flex-direction: column;
        gap: 30px;
    }

    .moment-card__image{
        max-width: 400px;
    }
}

@media (max-width: 480px) {
    .moments-collection__title{
        font-size: 20px;
    }

    .moment-card__image{
        max-width: 250px;
    }
}